RABBITMQ_HOST=localhost
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_PORT=5672
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=koor-genesis
DATABASE_PORT=5432
DATABASE_SSL_ENABLED=false
HETZNER_TOKEN=token
GENESIS_DATA=/koor