Your managed Koor Ceph Cluster is ready to use!

Follow the link below to get your access credentials:

<a href="{{ .AccessLink }}">{{ .AccessLink }}</a>

(Should the link not work, please copy and paste it into your browser's navigation bar.)

For more information checkout the <a href="https://kb.koor.tech/guides/getting-started-starter-cluster/">Koor knowledge base article</a>.
